:root
{   
    z-index: 2;
    width: 1300px;
    height: 827px;
    margin-top: 0;
    margin-left: 460px;
    background-color: rgb(0, 0, 0);
}
.logo_0
{
    z-index: 11;
    top: 15px;
    left: 0px;
    width: 307px;
    height: 164px;
    position: absolute;
    background-image: url('../img/logo_0.png');
}
header
{
    z-index: 3;
    width: 1300px;
    height: 70px;
    background-color: #8c0a0d;
    margin-top: 0px;
}
.logo_h
{
    float: left;
    width: 177px;
    height: 41px;
    margin-top: 15px;
    margin-left: 67px;
    background-image: url('../img/logo_header.png');
}
header ul
{
    height: 11px;
    margin: 0;
    padding-top: 30px;
    padding-left: 330px;
    font-size:14px;
    /* width: 50%;   */
}
header li
{
    float: left;
    list-style: none;
    padding-left: 30px;
    color:#ffe394;
    cursor:pointer;
}
header #icon_eng
{
    list-style-image: url('../img/eng_icon.png');
    margin-left: 100px;
}
header #lb_eng
{
    padding-left: 0px;
    margin-left: -20px;
}
main{
    width: 1300px;
    height: 760px;
    background-image: url('../img/main_back.png');
    background-repeat: no-repeat no-repeat;
}
.backgr
{
    width: 1300px;
    height: 760px;
    opacity: 0.8;
    background-color: #F5E8C6;
}
.factory
{
    width: 1167px;
    height: 335px;
    margin-left: 66px;;
    margin-top: 30px;
    background-image: url('../img/factory.png');
    background-repeat: no-repeat no-repeat;
    border-color: #35040c;
    border-width: 4px;
    border-style: solid;
    display:inline-block;
}
#r_in_world
{
    width: 455px;
    height: 54px;
    margin-top: 30px;
    margin-left: 360px;
    background-image: url("../img/ROSHEN_в_мире.png");
    background-repeat: no-repeat no-repeat;
}
.rect
{
    width: 190px;
    height: 43px;
    margin-top:23px;
    margin-left: 490px;
    background-color: #f6cc79;
    border-radius: 13px;
    line-height: 14px;
    text-align: center;
    font-size: 24px;
    box-shadow: 0px 7px 1px 0px #bf670d;
}
.know_more{
    text-decoration-line: none;
    color: black;
}
.kn_more{
    display:inline-block;
    padding-top: 14px;
}
#left_arrow
{
    width: 55px;
    height: 55px;
    float:left;
    background-image: url('../img/left-arrow.png');
    margin-left: 27px;
}
#right_arrow
{
    width: 55px;
    height: 55px;
    float:right;
    background-image: url('../img/right-arrow.png');
    margin-right: 28px; 
}
.dots
{
    width: 82px;
    height: 16px;
    margin-top:160px;
    margin-left: 569px;
}
.circle_1
{
    width: 16px;
    height: 16px;
    float:left;
    background-image: url('../img/dot_0.png');
    background-repeat: no-repeat no-repeat;
    margin-left: 8px;
}
.circle_2
{
    width: 16px;
    height: 16px;
    float:left;
    background-image: url('../img/dot_1.png');
    margin-left: 8px;
}  
.content_head
{
    font-size:17px;
    line-height: 28px;
}  
#head_1
{
    width: 269px;
    height: 64px;
    float:left;
    margin-top: 30px;
    margin-left: 65px;
}
#head_2
{
    width: 276px;
    height: 65px;
    float:left;
    margin-top: 30px;
    margin-left: 30px;
}
#head_3
{
    width: 233px;
    height: 89px;
    float:left;
    margin-top: 30px;
    margin-left: 23px;
}
#head_4
{
    width: 249px;
    height: 63px;
    float:left;
    margin-top: 30px;
    margin-left: 62px;
}
.content_txt
{
    line-height: 26px;
    font-size: 15px;
    margin-top: 130px;
}  
#txt_1
{
    width: 259px;
    height: 135px;
    float:left;
    margin-top: 30px;
    margin-left: 65px;
}
#txt_2
{
    width: 254px;
    height: 158px;
    float:left;
    margin-top: 30px;
    margin-left: 38px;
}
#txt_3
{
    width: 252px;
    height: 159px;
    float:left;
    margin-top: 30px;
    margin-left: 44px;
}
#txt_4
{
    width: 276px;
    height: 133px;
    float:left;
    margin-top: 30px;
    margin-left: 45px;
}
footer
{
    width: 1301px;
    height: 71px;
    background-color: #8c0a0d;
    color: #c37a41;
    line-height: 22px;
}
a{
    color: #c37a41;
    text-decoration-line: none; 
}
#web_addr
{
    width: 192px;
    height: 14px;
    float: left;
    margin-top: 37px;
    margin-left: 67px;
    
}
#office_addr
{
    width: 148px;
    height: 38px;
    float: left;
    margin-top: 13px;
    margin-left: 102px;
    font-size: 13px;
    cursor:pointer;
}
#office_tel
{
    width: 144px;
    height: 37px;
    float: left;
    margin-top: 13px;
    margin-left: 149px;
    font-size: 13px;
    text-align: right;
}
#office_mail
{
    width: 138px;
    height: 36px;
    float: left;
    margin-top: 13px;
    margin-left: 155px;
    font-size: 13px;
    /* text-align: left; */

}
#f_icon
{
    width: 28px;
    height: 28px;
    float: left;
    margin-top: 21px;
    margin-left: 69px;
}
#w_icon
{
    width: 28px;
    height: 28px;
    float: left;
    margin-top: 21px;
    margin-left: 13px;
}